<ion-header>
</ion-header>

<ion-content>

  
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>

    <ion-row>
        <ion-col col-2>
          <th>Produit</th> 
        </ion-col>
        <ion-col col-2>
            <th>P.U</th>
        </ion-col>
        <ion-col col-2>
            <th>QT</th>
        </ion-col> 
    </ion-row>

    <!--
    <ion-card-content>
      <ion-item>
        <ion-label>Click test</ion-label>
        <ion-button (click)="onLoadEntree()">OK</ion-button>
      </ion-item>
    </ion-card-content>
    -->

    <div *ngIf="result">
    <ion-row *ngFor="let m of result.data;  let rowIndex=index">
      <ion-col col-2>
        <p>{{m.Produit}}</p>
      </ion-col>
      <ion-col col-2>
          <p>{{m.Prix_Unitaire}}</p>
      </ion-col>
      <ion-col col-2>
          <p>{{m.Quantite}}</p>
      </ion-col> 
   </ion-row>
  </div>
 

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/ajoutentre">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
