<ion-header>
  <ion-toolbar class="ion" color="primary">
    <ion-buttons class="ion-buttons" slot="start">
      <ion-back-button defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Fewnu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <br><br><br>

    <form #vente="ngForm" (ngSubmit)="onAjout(vente)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

            <div padding>
                <div text-center>
                    <h3 color="primary">Ajouter une vente</h3>
                  </div><br>

              <ion-item color="none"> 

                <ion-input name="Designation" type="text" [(ngModel)]="vente.Designation" placeholder="Designation"></ion-input>
              </ion-item>
              <br>
              <ion-item color="none">
               
                <ion-input name="Prix" type="number" [(ngModel)]="vente.Prix"placeholder="Prix" ></ion-input>
              </ion-item>         
            </div><br>
            <div padding>
              <ion-button class="ion-button" color="primary" type="submit" >Ajouter</ion-button>
            </div>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>


</ion-content>
