<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="light"  defaultHref="menu/aceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>mensual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            
                <ion-text color="dark">
                    <p> 
                      <strong> 
                        Résumé du mois de  <br>
                        Total Vente :   FCFA <br>
                        Total Dépense :   FCFA <br>
                        Bénéfice :   FCFA
                      </strong>
                    </p>
                </ion-text>
            
        </ion-card-content>
      </ion-card>
</ion-content>
