 <ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="tirer pour rafraîchir"
          refreshingSpinner="circles"
          refreshingText="Refreshing..."    
        >
        </ion-refresher-content>
    </ion-refresher>

      <ion-row>
          <ion-col col-2>
            <th>Designation</th>
          </ion-col>
          <ion-col col-2>
              <th>Prix</th>
          </ion-col>
      </ion-row>

      <!--
      <ion-card-content>
        <ion-item>
          <ion-label>Click test</ion-label>
          <ion-button (click)="onLoadDepense()">OK</ion-button>
        </ion-item>
      </ion-card-content>
      -->

      <div *ngIf="result">
        <ion-row *ngFor="let m of result.data;  let rowIndex=index">
          <ion-col col-3>
            <p>{{m.Designation}}</p>
          </ion-col>
          <ion-col col-3>
              <p>{{m.Prix}}</p>
          </ion-col>
        </ion-row>
        </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/ajoutdepense">
      <ion-icon name="add"></ion-icon> 
    </ion-fab-button>
  </ion-fab>

  
  <ion-fab vertical="bottom" horizontal="start" slot="fixed"  >
    <p>Total  
    <ion-chip style="background-color: blue; color:white" >
      <ion-label>FCFA</ion-label>
    </ion-chip>
  </p>
 </ion-fab>
 
</ion-content>
